
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --border: 240 5% 84%;
  --input: 240 5% 90%;
  --ring: 240 4.9% 83.9%;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 100%;
  --border: 240 5% 20%;
  --input: 240 5% 30%;
  --ring: 240 4.9% 70%;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}